<nav class="bg-stone-900 border-stone-700">
  <div
    class="max-w-lvw flex flex-wrap items-center justify-between"
  >
    <a [routerLink]="['/']" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/birrete.jpg" class="h-6" alt="Avanzatech Logo" />
      <span
        class="self-center text-base font-semibold whitespace-nowrap text-emerald-400"
        >Avanzatech</span
      >
    </a>
    <ng-container *ngIf="isLoggedIn(); else loggedOut">
      <div class="block w-auto">
        <ul
          class="font-medium flex p-0 mt-4 rounded-lg flex-row bg-stone-800 bg-gradient-to-r from-emerald-600 via-stone-700 to-stone-900"
        >
          <li>
            <a
              id="profile-link"
              class="block py-1 px-2 text-stone-100 rounded-sm hover:bg-emerald-400 hover:text-stone-900"
              aria-current="page"
              >{{ profile?.username }}</a
            >
          </li>
          <li>
            <button
              id="logout-button"
              (click)="toggleLogout()"
              class="block py-1 px-2 text-stone-100 rounded-sm hover:bg-emerald-400 hover:text-stone-900 cursor-pointer"
            >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-template #loggedOut>
      <div class="block w-auto">
        <ul
          class="font-medium flex p-0 mt-4 rounded-lg flex-row bg-stone-800 bg-gradient-to-r from-emerald-600 via-stone-700 to-stone-900"
        >
        <li>
          <a
            id="register-a"
            [routerLink]="['/register']"
            class="block py-1 px-2 text-stone-100 rounded-sm transition duration-300 ease-in-out hover:bg-emerald-400 hover:text-stone-900"
            aria-current="page"
          >
            Register
          </a>
        </li>
        <li>
          <a
          id="login-a"
          [routerLink]="['/login']"
            class="block py-1 px-2 text-stone-100 rounded-sm transition duration-300 ease-in-out hover:bg-emerald-400 hover:text-stone-900"
          >
            Login
          </a>
        </li>
        
        </ul>
      </div>
    </ng-template>
  </div>
</nav>
<div [hidden]="!logingOut()">
  <div
    class="fixed inset-0 flex items-center justify-center bg-black opacity-40 z-20"
  ></div>
  <div class="fixed inset-0 flex items-center justify-center z-20">
    <div class="bg-white p-6 rounded-lg shadow-lg opacity-100">
      <h2 class="text-xl font-bold mb-4">
        ¿Estás seguro de querer salir de la aplicación?
      </h2>
      <div class="flex justify-end gap-4">
        <button class="px-4 py-2 bg-red-500 text-gray-700 rounded hover:bg-red-600 cursor-pointer" 
          mat-raised-button color="warn" (click)="logout()" [disabled]="isLoggingOut()" (click)="toggleLogout()">
          <mat-spinner *ngIf="isLoggingOut()" diameter="20"></mat-spinner>
          <span *ngIf="!isLoggingOut()">Cerrar sesión</span>
        </button>
        
        <button
          (click)="toggleLogout()"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
