<nav class="bg-white border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 bg-sky-500"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/birrete.jpg" class="h-8" alt="Flowbite Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-white"
        >Avanzatech</span
      >
    </a>
    @if (isLoggedIn()) {
    <div class="block w-auto">
      <ul
        class="font-medium flex p-0 mt-4 rounded-lg flex-row bg-white bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500"
      >
        <li>
          <a
            routerLink="/profile"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-teal-300"
            aria-current="page"
            >{{ profile?.username }}</a
          >
        </li>
        <li>
          <button
            (click)="logout()"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-teal-300"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
    } @else {
    <div class="block w-auto">
      <ul
        class="font-medium flex p-0 mt-4 rounded-lg flex-row bg-white bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500"
      >
        <li>
          <a
            routerLink="/register"
            class="block py-2 px-3 hover:bg-teal-300 text-white p-4 rounded-lg"
            aria-current="page"
            >Register</a
          >
        </li>
        <li>
          <a
            routerLink="/login"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-teal-300"
            >Login</a
          >
        </li>
      </ul>
    </div>
    }
  </div>
</nav>
