<div>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        [routerLink]="['./create-post']"
        (click)="goToPostCreation()"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-16 text-emerald-400 hover:opacity-100 hover:w-28 transition-colors duration-200 opacity-50"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
    </svg>
</div>
