<div class="min-h-screen bg-stone-900 flex flex-col">
  <app-nav></app-nav>
  <div class="w-full max-w-screen flex justify-center mt-3">
    @if (this.post()) {
    <div class="flex justify-center flex-col">
      <div
        class="rounded-xl flex flex-col justify-center w-3xl border border-stone-700 bg-stone-800 p-5 shadow-md"
      >
        <div
          class="flex items-center justify-between border-b border-stone-700 pb-3"
        >
          <div class="flex items-center space-x-3">
            <div id="author" class="text-lg font-semibold text-stone-100">
              {{ post()?.author }}
            </div>
          </div>
          <div class="flex items-center space-x-8 text-stone-400">
            <span
              *ngIf="post()?.author_groups?.length !== undefined"
              class="rounded-full bg-stone-700 px-3 py-1 text-xs font-medium text-emerald-400"
            >
              {{ post()?.author_groups?.[0] }}
            </span>
            <div class="text-xs text-neutral-500">
              {{ post()?.created_at | date }}
            </div>
          </div>
        </div>
        <div class="mt-4 mb-6">
          <div class="mb-2 text-xl font-bold text-stone-100">
            {{ post()?.title }}
          </div>
          <div
            class="text-sm text-stone-400"
            [innerHTML]="post()?.content"
          ></div>
        </div>

        <div>
          <div class="flex items-center justify-evenly text-slate-500">
            <div class="relative">
              <div>
                <span>{{ post()?.likes_author?.length }} likes</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-comment class="flex justify-center"></app-comment>
    </div>
    }@else { 
      <strong class="text-stone-100">post not found </strong>
    }
  </div>
</div>
